extends layout

block content
  h1 Bem-vindo ao Sistema
  if userId
    p Você está logado! Vá para o 
      a(href='/app/dashboard') dashboard.
  else
    p Crie sua conta ou faça login para continuar.
