extends layout

block content
  h1 Bem-vindo
  if userId
    p Você está logado. Vá para o 
      a(href='/app/dashboard') dashboard.
  else
    p Você não está logado. 
    a(href='/register') Criar conta
    |  ou 
    a(href='/login') Entrar
