extends layout

block content
  h1 Entrar
  if error
    p.error= error
  form(action='/login' method='post')
    label Email:
    br
    input(type='email' name='email' required)
    br
    label Senha:
    br
    input(type='password' name='password' required)
    br
    br
    button(type='submit') Entrar
